$twocol-breakpoint: 54em;

html,
body {
  padding: 0;
  height: 100%;
}

.apps {
  transition:
    visibility 0s linear 100ms,
    opacity 150ms;

  // &[data-initialized='true'] {
  //   visibility: visible !important;
  //   opacity: 1 !important;
  // }

  #root {
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'banner' 'main' 'footer';
  }

  hathi-website-header {
    grid-area: header;
  }

  hathi-alert-banner {
    grid-area: banner;
  }

  hathi-website-footer {
    grid-area: footer;
  }

  .main {
    grid-area: main;
    display: grid;
    grid-template: auto auto / 1fr;
    padding-block: 0.75rem var(--pb);
    --pb: 2.5rem;

    @media (min-width: 48em) {
      --pb: 3.75rem;
    }
  }

  .twocol {
    display: flex;
    flex-wrap: wrap;
    // --- in the wordpress, 1/1 is the <nav>
    // -- revisit this when talk about breadcrumbs
    // grid-area: 2 / 1;
    // gap: 3.125rem;
    gap: 1.5rem;
    align-items: start;
    margin-top: 2.625rem;
    margin-inline: max(clamp(0.938rem, calc(0.268rem + 3.348vw), 1.875rem), ((100% - 73.125rem) / 2));

    // Phire is 48em, but that might assume a main
    // column that wraps more than HTDL
    @media (min-width: $twocol-breakpoint) {
      flex-wrap: nowrap;
    }
  }

  .twocol.single {
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &.twocol-main {
      flex-basis: auto;
    }
  }

  .twocol > * > *:first-child {
    margin-top: 0;
  }

  .twocol-side {
    display: grid;
    flex-grow: 1;
    // gap: 1.875rem;
    gap: 1rem;

    @media (min-width: 54em) {
      flex-shrink: 0;
      flex-basis: 18.75rem;
      // gap: 3rem;
      gap: 1rem;
    }
  }

  .twocol-main {
    display: grid;
    flex-grow: 1;
    gap: 1.875rem;

    @media (min-width: $twocol-breakpoint) {
      flex-basis: 43.75rem;
      gap: 2.625rem;
    }
  }

  #action-toggle-filters {
    &[aria-expanded='false'] .is-expanded {
      display: none;
    }

    &[aria-expanded='true'] .not-expanded {
      display: none;
    }

    &[aria-expanded='false'] ~ * {
      display: none !important;
    }

    @media (min-width: 54em) {
      display: none;

      &[aria-expanded] ~ * {
        display: initial !important;
      }
    }
  }

  button[data-action='expand-filter'] {
    &[aria-expanded='false'] .is-expanded {
      display: none;
    }

    &[aria-expanded='true'] .not-expanded {
      display: none;
    }
  }

  button:not(:disabled) .spinner {
    display: none;
  }

  article.record {
    .metadata .grid {
      --bs-gap: 0rem;
    }

    .cover {
      width: 6rem;
      text-align: right;
      flex-shrink: 0;

      img {
        max-width: 100%;
      }
    }
  }

  // define a visited link color
  // .filter-list-item ?
  a:not([class]):visited {
    color: var(--ht-visited-link-color);
  }

  a:not(.btn).d-inline-flex {
    gap: var(--bs-gutter-x);
    text-decoration: none;
    padding: 0.25rem;

    & > * {
      text-decoration: underline;
    }
  }

  a i[aria-hidden] {
    text-decoration: none;
  }

  .list-group a {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3125rem;
    letter-spacing: -0.01rem;

    &:has(+ span) {
      border-top-right-radius: var(--bs-list-group-border-radius) !important;
      border-bottom-right-radius: var(--bs-list-group-border-radius) !important;
    }

    // label colors
    --bs-list-group-color: var(--color-neutral-900);
    --bs-list-group-bg: var(--color-shades-0);
    --bs-list-group-active-color: var(--color-shades-0);
    --bs-list-group-active-bg: var(--color-primary-600);
    --bs-list-group-action-active-color: var(--color-neutral-900);
    --bs-list-group-action-active-bg: var(--color-neutral-100);

    .visited-link {
      color: var(--bs-list-group-bg);
      margin-left: auto;
    }

    &:hover .visited-link,
    &:focus .visited-link {
      color: var(--bs-list-group-action-hover-bg);
    }

    &:active .visited-link {
      color: var(--bs-list-group-action-active-bg);
    }

    &:visited .visited-link {
      color: var(--bs-list-group-color);
    }

    // z-index on this was causing focus ring on the neighboring
    // list-group-item to visually "slide" behind/underneath the full-view item
    &.active {
      z-index: auto;
    }

    &.active:visited .visited-link {
      color: var(--bs-list-group-active-color);
    }

    &.active .visited-link {
      color: var(--bs-list-group-active-bg);
    }

    &[data-activated-role] {
      background: var(--color-primary-800);
      color: var(--color-shades-0);
      border-color: var(--color-primary-800);

      &:hover,
      &:focus {
        background: var(--color-shades-0);
        color: var(--color-primary-800);
        border-color: var(--bs-list-group-border-color);
      }

      &:active {
        background: var(--color-primary-900);
        color: var(--color-shades-0);
        border-color: var(--color-primary-900);
      }

      //if the link hasn't been visited, then on hover/focus, the icon should match the background (800 on 800)
      .visited-link {
        color: var(--color-primary-800);
      }

      //if the link hasn't been visited, then on hover/focus the icon should match the background (white on white)
      &:hover .visited-link,
      &:focus .visited-link {
        color: var(--color-shades-0);
      }

      //if the link hasn't been visited, then on active state, the icon should match the background (900 on 900)
      &:active .visited-link {
        color: var(--color-primary-900);
      }

      // the rest of these are *visited* states, which should contrast with the background
      &:visited .visited-link,
      &:visited:active .visited-link,
      &:visited:active:hover .visited-link {
        color: var(--color-shades-0);
      }

      &:visited:hover .visited-link,
      &:visited:focus .visited-link {
        color: var(--color-primary-800);
      }
    }
  }
  .list-group-horizontal-sm > .list-group-item {
    &:focus-visible {
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child:focus-visible {
      border-inline-start-width: 1px;
      margin-inline-start: -1px;
    }
  }

  // by default, hide the 10+nth facets
  div.filter-list {
    &[data-expanded='false'] {
      .filter-list-item:nth-child(n + 10) {
        display: none !important;
      }
    }
  }

  .sticky-bottom {
    position: sticky;
    padding: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.1);
  }

  .table-branded {
    a {
      color: var(--color-primary-700);
    }
    min-width: 100%;
    border-spacing: 0;
    --border: 1px solid var(--color-primary-500);
    border-collapse: separate;
    :is(th, td) {
      padding: 1.25rem 1rem;
    }
    thead th {
      padding: 0.75rem 1rem;
    }
    th {
      text-align: initial;
    }
    tr:nth-child(2n) {
      background-color: var(--color-neutral-100);
    }
    thead tr > * {
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--color-primary-200);
    }
    tbody th {
      border-right: var(--border);
      background-color: var(--color-primary-200);
    }
    :is(thead, tbody:first-child, caption:first-child + tbody) tr:first-child > :first-child {
      border-left: var(--border);
      border-top-left-radius: 0.375rem;
    }
    :is(thead, tbody:first-child, caption:first-child + tbody) tr:first-child > :last-child {
      border-right: var(--border);
      border-top-right-radius: 0.375rem;
    }
    :is(tbody:first-child, caption:first-child + tbody) tr:first-child > * {
      border-top: var(--border);
    }
    tbody tr > :first-child {
      border-left: var(--border);
    }
    tbody tr > :last-child {
      border-right: var(--border);
    }
    tbody tr:last-child > * {
      border-bottom: var(--border);
    }
    tbody tr:last-child > :first-child {
      border-bottom-left-radius: 0.375rem;
    }
    tbody tr:last-child > :last-child {
      border-bottom-right-radius: 0.375rem;
    }
  }
  #toolbar-seq.form-control:focus {
    border-color: #fff;
  }
}

span.query-term {
  font-weight: bold;

  // this was an idea, but erroneously makes
  // expressions look quoted when they were not
  // &::before {
  //   content: '“';
  // }

  // &::after {
  //   content: '”';
  // }
}

main.error {
  position: relative;
  section {
    width: 27.75rem;
    gap: 3.75rem;
    margin-top: 3rem;
  }
  .message-wrapper {
    gap: 1.25rem;
  }
  h1 {
    font-size: var(--ht-text-3xl);
    font-weight: 700;
    line-height: 2.375rem;
    margin: 0;
  }
  h2.error-code {
    color: var(--color-neutral-500);
    font-size: var(--ht-text-sm);
    font-weight: 700;
    line-height: 1.125rem;
    margin: 0;
  }
  .error-message {
    color: var(--color-neutral-800);
    font-size: var(--ht-text-xl);
    font-weight: 400;
    line-height: 2.125rem;
  }
  .help-links p {
    font-size: var(--ht-text-md);
    color: var(--color-neutral-800);
    margin: 0;
  }
}

main.error .error-wrapper {
  background-image: url(/common/firebird/dist/error_elephant.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 37.5rem;
}
@media (max-width: 1200px) {
  main.error .error-wrapper {
    background-size: 28.44rem;
  }
}
@media (max-width: 990px) {
  main.error .error-wrapper {
    background-size: 21.33rem;
    min-height: 42rem;
  }
}

.alert p:last-child {
  margin-bottom: 0;
}
