// Import all of Bootstrap's CSS
@use 'sass:map';
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
@import 'fonts';
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/brands';
@import 'fontawesome/regular';


// Toggle global options
$enable-gradients: false;
$enable-shadows: true;
$enable-negative-margins: true;
$enable-grid-classes: true;
$enable-cssgrid: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// // Customize some defaults
// $body-color: #333;
// $body-bg: #fff;

$ht-color-neutral-50: #f8f8f8;
$ht-color-neutral-100: #f2f2f2;
$ht-color-neutral-200: #e4e4e4;
$ht-color-neutral-300: #cfd0d1;
$ht-color-neutral-400: #a9acac;
$ht-color-neutral-500: #6e7375;
$ht-color-neutral-600: #505759;
$ht-color-neutral-700: #333739;
$ht-color-neutral-800: #242828;
$ht-color-neutral-900: #0f1010;

$ht-color-primary-50: #fef9f4;
$ht-color-primary-100: #fbeadd;
$ht-color-primary-200: #f8d5bb;
$ht-color-primary-300: #f3b688;
$ht-color-primary-400: #ed9655;
$ht-color-primary-500: #ec7217;
$ht-color-primary-600: #c35400;
$ht-color-primary-700: #a14e11;
$ht-color-primary-800: #783b0d;
$ht-color-primary-900: #502708;

$ht-color-shades-0: #ffffff;
$ht-color-shades-100: #000000;

$gray-100: $ht-color-neutral-100;
$gray-200: $ht-color-neutral-200;
$gray-300: $ht-color-neutral-300;
$gray-400: $ht-color-neutral-400;
$gray-500: $ht-color-neutral-500;
$gray-600: $ht-color-neutral-600;
$gray-700: $ht-color-neutral-700;
$gray-800: $ht-color-neutral-800;
$gray-900: $ht-color-neutral-900;

$primary: $ht-color-primary-600;
$secondary: $ht-color-neutral-600;

$font-family-sans-serif: Mulish, Helvetica, Arial, system-ui;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.125;
$h4-font-size: $font-size-base * 1;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 1;
$ht-text-sm: $font-size-base * 0.875;
$ht-text-lg: $font-size-base;

$body-font-weight: 500;
$headings-font-weight: 700;
$btn-font-weight: 800;
$form-label-font-weight: 400;
 

$ht-focus-border-color: #086AB4;

// bootstrap focus style variables
// but these change :focus not :focus-visible
// $input-btn-focus-width:         3px; //firebird
// $input-btn-focus-color-opacity: 1; //firebird
// $input-btn-focus-color:         rgba($ht-focus-border-color, $input-btn-focus-color-opacity) !default;
// $input-btn-focus-blur:          0 !default;
// $input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;
// $btn-focus-width:             $input-btn-focus-width !default;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;

// $input-focus-bg:                        $input-bg !default;
// $input-focus-border-color:              $ht-focus-border-color;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;
// $form-check-input-focus-border:           $input-focus-border-color !default;
// $form-check-input-focus-box-shadow:       $input-btn-focus-box-shadow !default;
// $form-switch-focus-color:         $input-focus-border-color !default;
// $form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;
// $form-select-focus-border-color:  $input-focus-border-color !default;
// $form-select-focus-width:         $input-focus-width !default;
// $form-select-focus-box-shadow:    0 0 0 $form-select-focus-width $input-btn-focus-color !default;
// $form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
// $form-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in Edge
// $pagination-focus-color:            var(--#{$prefix}link-hover-color) !default;
// $pagination-focus-bg:               $gray-200 !default;
// $pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
// $pagination-focus-outline:          0 !default;
// $accordion-button-focus-border-color:     $input-focus-border-color !default;
// $accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;
// $btn-close-focus-shadow:     $input-btn-focus-box-shadow !default;
// $btn-close-focus-opacity:    1 !default;

$ht-focus-box-shadow: inset 0 1px 2px #00000013,0 0 0 .25rem #c3540040;
$ht-focus-outline: 0;

:focus-visible {
  border-radius: 6px !important;
  outline: 3px solid #086AB4 !important;
  box-shadow: 0 0 0 6px white;
  outline-offset: 4px;
  z-index: 3;
}

// Required
@import "~open-props/open-props.min.css";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
// -- will be necessary after upgrading to 5.3
// @import '~bootstrap/scss/variables-dark';

$font-sizes: map.set($font-sizes, 7, $font-size-base * 0.875);

$btn-close-bg: '#fff';
$btn-close-hover-opacity: 1;
$btn-close-opacity: 1;

@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';

@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar'; // Requires nav
@import '~bootstrap/scss/card';
// @import "~bootstrap/scss/breadcrumb";
@import '~bootstrap/scss/accordion';
// @import "~bootstrap/scss/pagination";
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import "~bootstrap/scss/toasts";
@import '~bootstrap/scss/modal'; // Requires transitions
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
// @import "~bootstrap/scss/carousel";
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/offcanvas'; // Requires transitions
@import '~bootstrap/scss/placeholders';

// Helpers
@import '~bootstrap/scss/helpers';

// extend utility classes
$utilities: map-merge(
  $utilities,
  (
    'color': (
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values:
        map-merge(
          $utilities-text-colors,
          (
            'neutral-100': $ht-color-neutral-100,
            'neutral-200': $ht-color-neutral-200,
            'neutral-800': $ht-color-neutral-800,
            'neutral-900': $ht-color-neutral-900,
            'muted': $text-muted,
            // deprecated
            'black-50': rgba($black, 0.5),
            // deprecated
            'white-50': rgba($white, 0.5),
            // deprecated
            'body-secondary': var(--#{$prefix}secondary-color),
            'body-tertiary': var(--#{$prefix}tertiary-color),
            'body-emphasis': var(--#{$prefix}emphasis-color),
            'reset': inherit,
          )
        ),
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        bold: $font-weight-bold,
        semibold: $font-weight-semibold,
        bolder: $font-weight-bolder,
        exbold: 800,
      )
    ),
    'background-color': (
      property: background-color,
      class: bg,
      local-vars: (
        'bg-opacity': 1,
      ),
      values:
        map-merge(
          $utilities-bg-colors,
          (
            'neutral-50': $ht-color-neutral-50,
            'neutral-100': $ht-color-neutral-100,
            'neutral-200': $ht-color-neutral-200,
            'transparent': transparent,
            'body-secondary':
              rgba(
                var(--#{$prefix}secondary-bg-rgb),
                var(--#{$prefix}bg-opacity)
              ),
            'body-tertiary':
              rgba(
                var(--#{$prefix}tertiary-bg-rgb),
                var(--#{$prefix}bg-opacity)
              ),
            'body-emphasis':
              rgba(
                var(--#{$prefix}emphasis-bg-rgb),
                var(--#{$prefix}bg-opacity)
              ),
          )
        ),
    ),
    'border-color': (
      property: border-color,
      class: border,
      local-vars: (
        'border-opacity': 1,
      ),
      values:
        map-merge(
          $utilities-border-colors,
          (
            'neutral-200': $ht-color-neutral-200,
            'neutral-300': $ht-color-neutral-300,
          )
        ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    'width':
      map-merge(
        map-get($utilities, 'width'),
        (
          responsive: true,
        )
      ),
  )
);

@include media-breakpoint-up('xs') {
  $infix: breakpoint-infix('xs', $grid-breakpoints);
  .list-group-vertical#{$infix} {
    flex-direction: column;
  }
}

// Utilities
@import '~bootstrap/scss/utilities/api';

// define design tokens which may be used in application stylesheets
:root {
  --color-neutral-50: #{$ht-color-neutral-50};
  --color-neutral-100: #{$ht-color-neutral-100};
  --color-neutral-200: #{$ht-color-neutral-200};
  --color-neutral-300: #{$ht-color-neutral-300};
  --color-neutral-400: #{$ht-color-neutral-400};
  --color-neutral-500: #{$ht-color-neutral-500};
  --color-neutral-600: #{$ht-color-neutral-600};
  --color-neutral-700: #{$ht-color-neutral-700};
  --color-neutral-800: #{$ht-color-neutral-800};
  --color-neutral-900: #{$ht-color-neutral-900};

  --color-primary-50: #{$ht-color-primary-50};
  --color-primary-100: #{$ht-color-primary-100};
  --color-primary-200: #{$ht-color-primary-200};
  --color-primary-300: #{$ht-color-primary-300};
  --color-primary-400: #{$ht-color-primary-400};
  --color-primary-500: #{$ht-color-primary-500};
  --color-primary-600: #{$ht-color-primary-600};
  --color-primary-700: #{$ht-color-primary-700};
  --color-primary-800: #{$ht-color-primary-800};
  --color-primary-900: #{$ht-color-primary-900};

  --color-shades-0: #{$ht-color-shades-0};
  --color-shades-100: #{$ht-color-shades-100};

  --ht-text-sm: #{$ht-text-sm};
  --ht-text-lg: #{$ht-text-lg};

  --headings-font-weight: #{$headings-font-weight};
  --form-label-font-weight: #{$form-label-font-weight};
  --btn-font-weight: #{$btn-font-weight};

  --bs-font-sans-serif: Mulish, Helvetica, Arial, system-ui;
  --bs-body-font-weight: #{$body-font-weight};
  --bs-link-color: var(--color-primary-600);
  --ht-visited-link-color: #006FC3;

  --ht-focus-border-color: #{$ht-focus-border-color};
  --ht-focus-box-shadow: #{$ht-focus-box-shadow};
  --ht-focus-outline: #${$ht-focus-outline};
}

body[data-initialized='true'] {
  visibility: visible !important;
  opacity: 1 !important;
}

// Further refine some bootstrap styles

.btn {
  letter-spacing: -0.01rem;
  
}
// bootstrap's contrast functions pair black text on our primary background
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-active-border-color: var(--color-primary-700);
  --bs-btn-hover-border-color: var(--color-primary-900);
  --bs-btn-border-color: var(--color-primary-700);

  &:hover,
  &:active {
    --bs-btn-hover-color: #fff;
    background-color: var(--color-primary-700);
  }
}
// button:focus-visible {
//   border-radius: 6px;
//   border: 3px solid #086AB4;
//   outline-offset: 4px;
//   z-index:5;
// }

//bootstrap doesn't have a "tertiary" button, but we do
.btn-tertiary {
  --bs-btn-color: var(--color-neutral-900);
  --bs-btn-bg: var(--color-shades-0);
  --bs-btn-border-color: var(--color-neutral-600);
  --bs-btn-hover-color: var(--color-shades-100);
  --bs-btn-hover-bg: var(--color-neutral-100);
  --bs-btn-hover-border-color: var(--color-neutral-700);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
  // &:focus-visible {
  //   outline: 4px solid rgba(51, 51, 51, .4);
  // }
}

// FOCUS STYLES
.btn, .accordion .accordion-button, select.form-select {
  &:focus-visible {
      border-radius: 6px !important;
      outline: 3px solid #086AB4 !important;
      outline-offset: 4px;
      box-shadow: 0 0 0 6px white;
      z-index: 2;
    }
    &:focus:not(:focus-visible) {
      z-index: 3;
      border-color: var(--bs-accordion-btn-focus-border-color);
      outline: 0;
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
    }
    &:focus {
      outline: 0.25rem solid transparent;
    }
}

input.form-control[type],
textarea.form-control {
  background-color: var(--color-neutral-50);
  border-radius: var(--bs-border-radius) !important;
}

.input-group-text + input.form-control[type] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group-text {
  border-top-left-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}


.was-validated .form-control:valid, .form-control.is-valid {
  border-color:  rgba(0, 0, 0, .25);
  background-image: none;
}
.was-validated .form-check-input:valid~.form-check-label, .form-check-input.is-valid~.form-check-label {
  color: inherit;
}
.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: rgba(0, 0, 0, .25);
}
.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: var(--color-primary-600);
}
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
    border-color: var(--ht-focus-border);
    box-shadow: var(--ht-focus-box-shadow);
    outline: var(--ht-focus-outline);
}
.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: var(--ht-focus-box-shadow);
}
.advanced-search-list li.form-check:focus-within {
    border: 2px solid var(--color-primary-600);
}
.advanced-search-list li.form-check:has(input:checked):focus-within {
  border: 2px solid var(--color-neutral-800);
}

a:not(.btn,.list-group-item):has(i[aria-hidden]) {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  text-decoration: none;

  i[aria-hidden] {
    text-decoration: none;
  }

  & > * {
    text-decoration: underline;
  }
}

//modal styles
.modal {
  --bs-modal-width: 34rem;
  --bs-modal-padding-width: 1.875rem;
  --bs-modal-header-padding: 1rem var(--bs-modal-padding-width) 0;
  --bs-modal-footer-padding: 1rem var(--bs-modal-padding-width) 0;
  --bs-modal-padding: 1rem 1.875rem;
  --bs-modal-header-border-width: 0;
}

.modal-content {
  // height: 90vh;
  max-height: min(95dvh, 45rem) !important;
}

.modal-body {
  // overflow: hidden !important;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-grid {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 0;
  height: 100%;
  overflow: hidden;
}
.cookie-settings dialog {
   max-inline-size: min(90vw,70ch);
}

//close icon
button.close {
  &:focus-visible {
    outline: 4px solid rgba(51, 51, 51, 0.4);
    border-radius: 50%; 
    .close-icon .icon-default {
     opacity:0;
      color:transparent; 
    }
    .close-icon .icon-hover {
      opacity: 1;
    }
  }
  .close-icon {
  padding: 0.625rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: block;
  position: relative;
    i {
      color: var(--color-neutral-600);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.25s ease-out;
    }
    .icon-default {
      opacity: 1;
    }
    .icon-hover {
      opacity: 0;
    }
    &:hover .icon-default,
    &:focus .icon-default {
      opacity:0;
      color:transparent;
    }
    &:hover .icon-hover,
    &:focus .icon-hover {
      opacity: 1;
    }
  
  }
  
}

.px-modal {
  padding-left: var(--bs-modal-padding-width) !important;
  padding-right: var(--bs-modal-padding-width) !important;
}


.accordion {
  --bs-accordion-active-bg: transparent;
  --bs-accordion-active-color: var(--color-neutral-700);
  --bs-accordion-body-padding-x: 1rem;
  --bs-accordion-body-padding-y: 1rem;

  .accordion-header {
    --bs-accordion-border-color: transparent;
  }

  .accordion-button {
    // padding: 1rem 1rem 0.25rem;
    padding-left: 1rem;
  }

  .accordion-body:has(.list-group) {
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  // what effect does this have with padding?
  // padding: 2px 4px;
  transition: outline 0.3s ease, border-radius 0.3s ease, z-index 0.3s ease;
  // &:focus-visible {
    // outline: 0.25rem solid transparent;
    // box-shadow: 0 0 0 4px rgba(236,114,23,0.5);
    // box-shadow: 0 0 0 4px rgb(51, 51, 51, 0.4);
    // outline: 3px solid #086AB4;
    // border-radius: 6px;
    // outline-offset: 4px;
    // z-index: 1;
  // }
}

#skiplinks:focus-within {
  position: fixed;
  z-index: 5000;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 1rem;

  @extend .alert;
  @extend .alert-dark;
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .shadow-lg;

  ul {
    margin-bottom: 0;
    list-style-type: none;

    a {
      @extend .alert-link;
    }
  }
}

// // EVALUATE
// .accordion-item:not(:last-of-type) {
//   border-bottom-color: var(--color-neutral-900);
// }

@import 'apps';
